* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
}

p,a, button, figcaption {
    font-size: 18px;
}
p {
    font-weight: 200;
}
.header{
    display: flex;
    align-items: flex-start;
    padding: 24px 10vw;
}

.header, .hero-info , footer{
    background-color: #1F2937;
}


.logo {
    color: #F9FAF8;
    font-size: 24px;
} 

.links {
    display: none;
    list-style: none;
    width: fit-content;
    text-align: center;
}

.links li {
    margin-top: 1em;
    padding-bottom: .5em;
    border-bottom: 1px solid #424345;
}

.links a {
    text-decoration: none;
    color: #E5E7EB;
}

.links a:hover {
    text-decoration: underline;
}

.hamburger-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: 105px;
    margin-left: 20%;
}

.hamburger {
    background-color: transparent;
    border: none;
    font-size: 2em;
    color: #E5E7EB;
}
/* hero */
.hero-info {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    padding: 64px 10vw;
}

.info {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
}
.info p {
    max-width: 500px;
    min-width: 250px;
    color: #E5E7EB;
}

.info h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.info button {
    align-self: flex-start;
    border-color: #3882F6;
}

.info button, .action-item button {
    padding: 6px 16px;
    border-radius: 5px;
    background-color: #3882F6;
    color: #E5E7EB;
}

.hero-info img {
    width: 400px;
    height: 250px;
    border-radius: 5px;
    box-shadow: rgba(236, 236, 236, 0.607) 0px 5px 15px;
}

/* main */
.main-info {
    padding: 48px;
}
.main-info h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.icon-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 48px 0;
}


.icon-content img {
    width: 140px;
    height: 140px;
    border: 3px solid #3882F6;
    border-radius: 8px;
    padding: 8px;
    margin-right: 34px;
}

.icon-content p {
    max-width: 140px;
    padding-bottom: 8px;
    color: #424345;
    font-size: 16px;
}

/* quote */
.quote-container {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote {
    max-width: 750px;
    padding: 48px;
    flex: 1;
}

.quote blockquote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.quote figcaption {
    font-weight: 800;
    text-align: right;
}

.action-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;;
    margin: 0 1em;
}

.action-item {
    flex: 1;
    max-width: 700px;
    padding: 24px 48px;
    margin: 48px 0;
    background-color: #3882F6;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-item h3 {
    font-size: 24px;
    margin-bottom: 5px;
}

.action-item button {
    border-color: white;
}

footer {
    text-align: center;
    padding: 24px;
    color: #E5E7EB;
}

@media (min-width:800px) {
    .header {
        justify-content: space-between;
        align-items: center;
    }
    .hamburger {
        display: none;
    }

    .links {
        display: flex;
    }

    .links li {
        margin-left: 1em;
        border: none;
    }

}