* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto',Helvetica, sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8px 10vw;
}

.header, .hero-info {
    background-color: #1F2937;
}

.hero-info {
    width: 100vw;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
} 

.links a {
    text-decoration: none;
    color: #E5E7EB;
    margin-left: 8px;
    font-size: 18;
}

/* hero */
.hero-info {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    padding: 64px 10vw;
}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
}
.info p {
    max-width: 500px;
    min-width: 250px;
    color: #E5E7EB;
    font-size: 18px;
}

.info h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.info button {
    align-self: flex-start;
    padding: 6px 16px;
    border-radius: 5px;
    border-color: #3882F6;
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
}

.hero-info img {
    width: 400px;
    height: 250px;
    flex-shrink: 0;
}

/* main */
.main-info {
    padding: 48px;
}
.main-info h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.icon-container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 48px 0;
}


.icon-content img {
    width: 110px;
    height: 110px;
    border: 3px solid #3882F6;
    border-radius: 8px;
    padding: 8px;
    margin-right: 24px;
}

.icon-content p {
    max-width: 110px;
    padding-bottom: 8px;
    color: #424345;
    font-size: 12px;
}